{% extends 'layout.html' %}




{% block body %}


    
    <ul>
        <h1 class="text-center mt-5">Employee Shifts</h1> 
        <br>
        <br>
    
        {% for n in names%}
            {% if n.username == 'admin' %}
                <h3>{{n.name}}</h3>
            {% else %}
                <h3>{{n.name}} &nbsp;&nbsp;&nbsp;<a href="/deleteuser/{{n.username}}"><input type="button" class="btn btn-dark" value="Delete Employee"></a></h3> 
            {% endif %}
        	{% for d in data %}
                {% if n.name == d.name%}
            		<li class="list-group-item">
            			<a><b>Day:</b> {{d.dayofweek}}<a><br>
                        <a href="/editshift/{{d.id}}"><input type="button" class="btn btn-dark float-right mr-2" value="Edit"></a>
                        <a href="/deleteshift/{{d.id}}"><input type="button" class="btn btn-dark float-right mr-2" value="Delete"></a>
            			<a><b>Start:</b> {{d.starttime}}</a><br>
            			<a><b>End:</b> {{d.endtime}}</a><br><br>
            		</li>
                {% endif %}
        	{% endfor %}
            <br><br>
        {% endfor %}
        <a href="/clearall" class="float-right"><input type="button" class="btn btn-warning" value="Clear All"></a>
        <br>
        <br>
        <br>
        <br>
    </ul>

{% endblock %}