{% extends 'layout.html' %}

{% block body %}

    <h1 class="text-center mt-5">Scheduler</h1>
  

    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="mx-auto col-sm-6 text-center">
    	<div class="form-group">
    		{{render_field(form.username, class_ = "form-control")}}
    	</div>
    	<div class="form-group">
    		{{render_field(form.dayofweek, class_ = "form-control")}}
    	</div>
    	<div class="form-group">
    		{{render_field(form.starttime, class_ = "form-control")}}
    	</div>
    	<div class="form-group">
    		{{render_field(form.endtime, class_ = "form-control")}}
    	</div>
    	<p><input type="submit" class=" btn btn-dark" value=Submit ></p>
    </form>

    <br><br>
    <h3>Employee Usernames</h3>
    {%for n in nameuser%}
        <a><b>{{n.name}}:</b>   &nbsp;&nbsp;  {{n.username}}<a><br>
    {%endfor%}

{% endblock %}